---
layout: page
title: Team
permalink: /teams/
---
<!-- Slider Start -->
<section id="global-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block" id="ourteam">
          <h1>Our Team</h1>
          <p>Get to know our members</p>
        </div>
      </div>
    </div>
  </div>
</section>


<section id="portfolio-work">

    <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="block">
              <div class="portfolio-menu">
                <ul>
                    <li class="filter" data-filter=".Current">Current</li>
                    <li class="filter" data-filter=".Former">Former</li>
                 
                </ul>
              </div> 
          
              <div class="portfolio-contant" id="teams">
                <ul id="portfolio-contant-active">
              {% for post in site.categories.teams %}
              {% if post.type == "Current" %}
                  <li class="mix Current">
                      <img border="1" src="{{ site.baseurl }}/img/portfolio/{{post.img}}"> 
                      <div class="teammember">
                          <h3 style="color:#655E7A"> {{ post.name }}</h3>
                          <h4>{{ post.position }}</h4>
                              <ul class="icon-team">
                                  <li>
                                    <a href={{ post.link }}><i class="fa fa-link"></i></a>
                                  </li>
                              </ul>
                       </div>
                  </li>
                {% else %}
                 <li class="mix Former">
                      <img border="1" src="{{ site.baseurl }}/img/portfolio/{{post.img}}"> 
                      <div class="teammember">
                     <a href="{{ post.link }}" class="bold">
                             <h3 style="color:#655E7A"> {{ post.name }}</h3></a>
                              <h4>{{ post.position }}</h4>
                                <ul class="icon-team">
                                  <li>
                                    <a href={{ post.link }}><i class="fa fa-link"></i></a>
                                  </li>
                                </ul>
                       </div>
                  </li>

                     {% endif %}
                     {% endfor %}
                </ul>
                </div>
             
             




            </div>
          </div>
        </div>
    </div>
</section>
