---
layout: page
---

<section id="global-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1>Our Team</h1>
          <p>Get to know our members</p>
        </div>
      </div>
    </div>
  </div>
</section>

    <!-- Portfolio Start -->
<section id="portfolio-work">
    <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="block">
           
              <div class="portfolio-contant">
                <ul id="portfolio-contant-active">
                 
                  <li class="#">
                      <img border="1" src="{{ site.baseurl }}/img/portfolio/{{page.img}}">           
                        <div id="teammember">
                         <h3>{{ page.name }}</h3>
                         <h4>{{ page.position }}</h4>
                         <a href="{{ page.link }}">
                         <h4 style="color:#000">Link: {{ page.link }}</h4>
                         </a>
                        </div>
                  </li>

                </ul>
              </div>
            </div>
          </div>
        </div>
    </div>
</section>





    <!-- Portfolio Start -->








